@import "__STYLES/helpers/variables.scss";

.form-group {
  margin-bottom: 16px;
  position: relative;
  input {
    margin: 8px 0 0 0;
  }
  .form-control {
    width: 100%;
    padding: 12px 16px;
    border: none;
    color: $Grey2;
    outline: none;
    border-bottom: solid 1px transparent;
    transition: all 0.25s ease-in-out;
    background: $Color0Alpha;
    &::placeholder {
      color: $Grey2;
    }
    &:hover:not(:disabled) {
      // background: #e6f1fb;
      border-bottom: solid 1px $Color3;
    }
    &:focus {
      // background: transparent;
      border-bottom: solid 1px $Color3;
    }
  }

  .control-error {
    border-bottom: solid 1px $Color1;
  }
  [disabled] {
    cursor: not-allowed;
    background: $Grey4;
  }
  &.prefixed-control {
    .prefix-input {
      position: absolute;
      bottom: 20px;
    }
    .form-control {
      padding-left: 50px;
    }
  }
}
