@import "__STYLES/helpers/variables";
.chat-box__container {
  .chat-box__body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 16px 16px 16px 0;
  }
  .chat-box__output {
    overflow: auto;
    padding: 4px 30px;
    margin: 0 -30px 0 -30px;
    flex: 1;
    .chat-item {
      margin: 4px 16px;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        border: solid 6px transparent;
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        border: solid 6px transparent;
      }
      .chat-item__text {
        display: inline-block;
        padding: 8px;
        border-radius: 2px;
        display: inline-block;
        line-height: 1.5;
        word-break: break-word;
        min-width: 64px;
        text-align: left;
      }
      .chat-item__timestamp {
        padding: 4px 0 8px;
        color: $Grey2;
      }
      &.chat-item--sent {
        text-align: right;
        &:after {
          right: -12px;
          border-top-color: $Color6Alpha;
          border-left-color: $Color6Alpha;
        }
        &:before {
          right: -12px;
          border-top-color: $Color6Alpha;
          border-left-color: $Color6Alpha;
        }
        .chat-item__text {
          background: $Color6Alpha;
          border-top-right-radius: 0;
          border: solid 1px $Color6Alpha;
        }
      }
      &.chat-item--recieved {
        text-align: left;
        &:after {
          border-top-color: $Color4Alpha;
          border-right-color: $Color4Alpha;
          left: -12px;
        }
        &:before {
          border-top-color: $Color4Alpha;
          border-right-color: $Color4Alpha;
          left: -12px;
        }
        .chat-item__text {
          background: $Color4Alpha;
          border-top-left-radius: 0;
          border: solid 1px $Color4Alpha;
        }
        .chat-item__timestamp {
        }
      }
    }
  }
  .chat-box__input {
    .chat-input-box {
      margin-bottom: 0;
    }
    input {
      border-radius: 30px;
      border-left: solid 10px $Color1Alpha !important;
      border-right: solid 10px $Color1Alpha !important;
      border-bottom: none !important;
    }
  }
}
