@import "__STYLES/helpers/variables";
.chat-box__container {
  width: calc(100% - 320px);
  .chat-box__body {
    overflow: hidden;
  }
  .chat-box__output {
    height: calc(100vh - 64px);
    overflow: auto;
    padding: 4px 30px;
    margin: 0 -30px 0 -30px;
    .chat-item {
      margin: 4px 16px;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        border: solid 6px transparent;
      }
      .chat-item__text {
        display: inline-block;
        padding: 8px;
        border-radius: 2px;
        background: $Color6Alpha;
        display: inline-block;
        line-height: 1.5;
        word-break: break-word;
        min-width: 64px;
        text-align: left;
      }
      .chat-item__timestamp {
        padding: 4px 0 8px;
        color: $Grey2;
      }
      &.chat-item--sent {
        text-align: right;
        &:after {
          right: -12px;
          border-top-color: $Color6Alpha;
          border-left-color: $Color6Alpha;
          border-top-right-radius: 6px;
          // border-bottom-left-radius: 6px;
        }
      }
      &.chat-item--recieved {
        text-align: left;
        &:after {
          border-top-color: #6ba8a933;
          border-right-color: #6ba8a933;
          left: -12px;
          border-top-left-radius: 6px;
        }
        .chat-item__text {
          background: $Color4Alpha;
        }
        .chat-item__timestamp {
        }
      }
    }
  }
  .chat-box__input {
    height: 58px;
    input {
      border-radius: 30px;
      border-left: solid 10px $Color1Alpha !important;
      border-right: solid 10px $Color1Alpha !important;
      border-bottom: none !important;
    }
  }
}
