.background-grey-0 {
  background: $Grey0;
}
.background-grey-1 {
  background: $Grey1;
}
.background-grey-2 {
  background: $Grey2;
}
.background-grey-3 {
  background: $Grey3;
}
.background-grey-4 {
  background: $Grey4;
}
.background-grey-5 {
  background: $Grey5;
}
.background-color-0 {
  background: $Color0;
}
.background-color-1 {
  background: $Color1;
}
.background-color-2 {
  background: $Color2;
}
.background-color-3 {
  background: $Color3;
}
.background-color-4 {
  background: $Color4;
}
.background-color-5 {
  background: $Color5;
}