.bg-grey-0 {
  background: $Grey0;
}
.bg-grey-1 {
  background: $Grey1;
}
.bg-grey-2 {
  background: $Grey2;
}
.bg-grey-3 {
  background: $Grey3;
}
.bg-grey-4 {
  background: $Grey4;
}
.bg-grey-5 {
  background: $Grey5;
}
.bg-color-0 {
  background: $Color0;
}
.bg-color-0-alpha {
  background: $Color0Alpha;
}
.bg-color-1 {
  background: $Color1;
}
.bg-color-1-alpha {
  background: $Color1Alpha;
}
.bg-color-2 {
  background: $Color2;
}
.bg-color-2-alpha {
  background: $Color2Alpha;
}
.bg-color-3 {
  background: $Color3;
}
.bg-color-4 {
  background: $Color4;
}
.bg-color-4-alpha {
  background: $Color4Alpha;
}
.bg-color-5 {
  background: $Color5;
}
.bg-color-6 {
  background: $Color6;
}
.bg-color-6-alpha {
  background: $Color6Alpha;
}
.bg-color-7 {
  background: $Color7;
}
