.border-grey-0 {
  border: solid 1px $Grey0;
}
.border-grey-1 {
  border: solid 1px $Grey1;
}
.border-grey-2 {
  border: solid 1px $Grey2;
}
.border-grey-3 {
  border: solid 1px $Grey3;
}
.border-grey-4 {
  border: solid 1px $Grey4;
}
.border-grey-5 {
  border: solid 1px $Grey5;
}
.border-color-0 {
  border: solid 1px $Color0;
}
.border-color-1 {
  border: solid 1px $Color1;
}
.border-color-2 {
  border: solid 1px $Color2;
}
.border-color-3 {
  border: solid 1px $Color3;
}
.border-color-4 {
  border: solid 1px $Color4;
}
.border-color-5 {
  border: solid 1px $Color5;
}