.btn {
  display: inline-block;
  border: solid 1px #000;
  border-radius: 0;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
  min-width: 120px;
  &.btn__white {
    border-color: $Grey5;
    color: $Grey1;
  }
  &.btn__grey__filled {
    border-color: transparent;
    color: $Grey5;
    background: $Grey1;
    &.disabled {
      pointer-events: none;
      background: $Grey2;
    }
    &.loading,
    &.loading.disabled {
      background-image: linear-gradient(
        90deg,
        $Grey2 25%,
        $Grey3 37%,
        $Grey2 63%
      );
    }
  }
  &.btn__violet__filled {
    border-color: transparent;
    color: $Grey5;
    background: $Color4;
    &.disabled {
      pointer-events: none;
      background: $Color3;
    }
    &.loading,
    &.loading.disabled {
      background-image: linear-gradient(
        90deg,
        $Color3 25%,
        $Color2 37%,
        $Color3 63%
      );
    }
  }
  &.btn__green__filled {
    border-color: transparent;
    color: $Grey5;
    background: $Color7;
    &.disabled {
      pointer-events: none;
      background: $Color6;
    }
    &.loading,
    &.loading.disabled {
      background-image: linear-gradient(
        90deg,
        $Color7 25%,
        $Color6 37%,
        $Color7 63%
      );
    }
  }
  &.btn__big {
    padding: 15px 40px;
  }
  &.btn__block {
    display: block;
    padding: 15px 40px;
  }
  &.loading,
  &.loading.disabled {
    animation: button-loading 1.4s ease infinite;
    background-image: linear-gradient(
      90deg,
      $Grey3 25%,
      $Grey4 37%,
      $Grey3 63%
    );
    background-size: 400% 100%;
    border: none;

    &:not([class*="btn__block"]) {
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      &:before {
        content: "";
        background: white;
        // Radius of 3px adds bulky corners
        border-radius: 2px;
        position: absolute;
        top: 1px;
        left: 1px;
        right: 1px;
        bottom: 1px;
        z-index: -1;
      }

      &:after {
        animation: button-loading 1.4s ease infinite;
        background-image: linear-gradient(
          90deg,
          $Color3 25%,
          $Color2 37%,
          $Color3 63%
        );
        background-size: 400% 100%;
        border-radius: 3px;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -2;
      }
    }
    &:not([class="btn-text"]) {
    }
  }
}

@media all and (max-width: 768px) {
  .btn {
    min-width: 65px;
  }
}

@keyframes button-loading {
  100% {
    background-position: 0 50%;
  }
  0% {
    background-position: 100% 50%;
  }
}
