@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Montserrat:300,400,600,800,900|Ubuntu&display=swap');
.tf-normal {
  font-family: "Ubuntu", sans-serif;
}

.tf-styled {
  font-family: "Montserrat", sans-serif;
}

.tf-xstyled {
  font-family: "Josefin Sans", sans-serif;
}