// Theme is black and white. With subtle colors.

// GreyScale

$Grey0: #000;
$Grey1: #2c2c2c;
$Grey2: #3f3f3f;
$Grey3: #f0f0f0;
$Grey4: #f9f9f9;
$Grey5: #fff;

// Colored
$Color0: #f8b195;
$Color0Alpha: #f8b19526;
$Color1: #f67280;
$Color1Alpha: #f6728026;
$Color2: #c06c84;
$Color2Alpha: #c06c8426;
$Color3: #6c5b7b;
$Color4: #272343;
$Color4Alpha: #91b6ff33;
$Color5: #2d132c;
$Color6: #6ba8a9;
$Color6Alpha: #6ba8a933;
$Color7: #357376;
$Color8: #1d4d4f;

$primary: $Grey0;
$secondary: $Color0;
