// Theme is black and white. With subtle colors.
$Black: #000;
$BlackForContrast: #2c2c2c;
$DarkGrey: #262626;
$Grey: #3f3f3f;
$LightGrey: #dcdcdc;
$Whitish: #f5f5f5;
$White: #fff;
$Red: #c1432e;
$Silver: #4b6777;
$Gold: #ce9e62;