@import "__STYLES/helpers/variables";
.home__container {
  display: flex;
  .sidebar__container {
    width: 320px;
    height: 100vh;
    padding: 16px;
    .sidebar__content {
      background: $Grey5;
      border-radius: 16px;
      box-shadow: 0 0 38px 1px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: hidden;
    }
  }
  .content__container {
    flex: 1;
    height: 100vh;
  }
}
