@import "__STYLES/helpers/variables";
.friends-list__container {
  flex: 1;
  overflow: auto;
  padding: 0;
  .friends-search__container {
    padding: 8px 8px 0 8px;
    .friends-search-box {
      margin-bottom: 8px;
      input {
        border-radius: 30px;
        background: transparent;
        border: solid 1px $Color1Alpha !important;
      }
    }
  }
  .friend-item__body {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    position: relative;
    transition: background 0.25s, border-right 0.25s;
    border-left: solid 2px transparent;
    .friend-item__thumb {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      color: $Color2;
      background: $Color2Alpha;
      text-transform: uppercase;
      transition: all 0.25s;
    }
    .friend-item__content {
      padding: 0 4px 0 8px;
      text-transform: capitalize;
      transition: all 0.25s;
      .primary-content {
        padding-bottom: 4px;
      }
      .secondary-content {
      }
    }
    .friend-item__seen-count {
      border-radius: 50%;
      width: 8px;
      height: 8px;
      top: 12px;
      left: 8px;
      animation: smooth-blink 1s linear infinite alternate;
      position: absolute;
      top: 40px;
      left: 26px;
    }
    &:hover {
      background: $Color0Alpha;
      .friend-item__content {
        transform: translate(2px);
      }
    }
    &.active {
      background: $Color0Alpha;
      border: solid 1px $Color1Alpha;
      border-left: solid 2px $Color1;
      border-right: none;
    }
  }
}

@keyframes smooth-blink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}
