@import "__STYLES/helpers/variables";
.login__form-component {
  padding: 60px;
  border-radius: 5px;
  background: $Grey5;
  .login__form-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .form-group {
    width: 100%;
  }
  .form-error__block {
    color: $Color1;
    text-align: right;
    padding: 10px 0;
  }
}
