@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,900&display=swap");
@import "./helpers/flexboxgrid.min.css";
@import "./helpers/reset.scss";
@import "./helpers/fonts.scss";
@import "./helpers/icons.scss";
@import "./helpers/variables.scss";
@import "./helpers/text.scss";
@import "./helpers/buttons.scss";
@import "./helpers/borders.scss";
@import "./helpers/backgrounds.scss";
@import "./helpers/common.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a7a9ac;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #a7a9ac;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #a7a9ac;
}

.view__container,
.view__container--inner {
  display: flex;
  flex: 1;
  height: 100vh;
  position: relative;
}

.widget__container,
.widget__body {
  position: relative;
}
.row {
  width: 100%;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
